// Base
@import "normalize";
@import "./base/variables";

// Layout
@import "./layout/header";
@import "./layout/about";
@import "./layout/service";
@import "./layout/what-we-do";
@import "./layout/our-works";
@import "./layout/contacts";
@import "./layout/footer";


@import "./blocks/content-box";
@import "./blocks/button";
@import "./blocks/modal";
@import "./blocks/contact-form";
