// Header
/* ======================= */

.header {
  $maxWidth: 550px;

  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/header__bg.jpg');
    background-size: cover;
    background-position: center;
  }
  & > .headline {
    max-width: $maxWidth;
    color: $primaryColor;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 54px;
    font-family: $primaryFont;

    @include mobile {
      font-size: 30px;
    }
  }

  & > .text {
    max-width: $maxWidth;
    color: $primaryColor;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $primaryFont;
    line-height: 30px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;

    @include mobile {
      font-size: 13px;

       & br {
         display: none;
       }
    }
  }

  & > .scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;

    animation-name: scrollDown;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  & .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  @keyframes scrollDown {
    0% {
      transform: translateY(0%);
    }
    20% {
      transform: translateY(-50%);
    }
    40% {
      transform: translateY(20%);
    }
    60% {
      transform: translateY(0%);
    }
  }
}
